body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-Color: #EECEB9;
    Color: blue;
    /* width: 100%; */
}

.music-body {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 2;
    border: 3px solid #BB9AB1;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0px;
    border-right: 10px solid #BB9AB1;
}

.middle-panel {
    flex: 4;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    background-Color: #FEFBD8;
    margin: 5px 0px;
    border: 1px solid #BB9AB1;
    border-radius: 5px;
}

.right-panel{
  flex: 4;
}

.welcomeText {
    display: flex;
    padding: 10px 0px;
    Color: #987D9A;
    flex: 50%;
}

.play-wrapper{
    padding: 5px 8px;
    background: #FEFBD8;
    margin: 2px;
    border-radius: 5px;
}

.play-box{
    /* border: 1 px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title-style{
    margin: 2px;
}

.artiste-style{
    margin: 2px
}

.progress-style{
    /* width: 250px; */
    height: 3px;
    background-Color: red;
    border-radius: 8px;

}



/* middle panel */ 
.playing-style{
    border: 3px solid blue;
    width: 80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.fa-pause{
    width: 70px;
    height: 70px;
}

.fa-play{
    animation: spin 2s linear infinite;
    transform-origin: center;
    width: 70px;
    height: 70px; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

/* .card-style{
    display: flex;
    flex-direction: column;
    width: 100%;
} */
